#root{
  background-color: #fafafa;
  height: 100vh;
}

.spinner{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

/* Modal */
.modalCard{
  background-color: rgba(0,0,0,0.6);
}

.modalTitle{
  color:dodgerblue;
}

.modalBody{
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalBody img{
  width: 300px !important;
  margin-bottom: 1rem;
}

.modalBody ul{
  font-size: large;
}

.modalBody h6{
  padding: 10px;
}

.modalFooter{
  display: flex;
  justify-content: space-between !important
}

@media only screen and (max-width: 700px) {
  .modalBody img{
    width: 200px !important;
    margin-bottom: 1rem;
  }
}